.menu{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: black;
}

h1{
    color:white;
}

.text{
    color: rgba(255, 255, 255, 0.4);
    margin-top: 23px;
    
    width: auto;
    text-align: initial;
    padding-left: 20px;
    
}

.menuBar{
    
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    width: 99vw;
    height: 8%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
}

.elementos{
    height: 92%;
    width: 100vw;
    
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
}