.adcaja{
    width: 200px;
    height: 300px;
    border: 1px solid white;
    padding: 20px;
    margin: 50px;
    transition: background 1s;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
    font-size: 50px;
    
}

:link{
    text-decoration: none;
}

.adcaja:hover{
    background: white;
    color: black;
}

.adcaja:hover p{
    
    color: black;
}

p{
    
    color: white;
    transition: color 1s;
}